<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href= "style.css">

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

  <title>Rock, Paper, Scissors</title>
 
 
</head>

  <body>

    <%= yield %>

    <nav><a href="/play">PLAY</a>//<a href="/">RULES</a>//<a href="/link">LINK</a> </nav>

  </body>
</html>