


<div class = "text">
  
  <p>To get started with your first game of Rock, Paper, Scissors. Enter <strong>Player One</strong>'s choice then <strong>Player Two</strong>'s pick at the end of the URL.</p>
  <p>EG: '.../play/rock/scissors'</p>

</div>
